@model IEnumerable<Project_ASP.NET_NinjaTurtles.Models.Product>

<h4 class="sub-header">
    <a asp-action="Create">Create new product</a>
</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImgPath)" class="img-fluid" width="100px" height="100px" />
            </td>
            <td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ProductId"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ProductId"><i class="fa-solid fa-trash"></i></a>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
