@model IEnumerable<Project_ASP.NET_NinjaTurtles.Models.Order>

<h4 class="sub-header">
    <a asp-action="Create">Create new order</a>
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductPrice)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.OrderId"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.OrderId"><i class="fa-solid fa-trash"></i></a>
                </td>
        </tr>
}
    </tbody>
</table>
